:root{
  --col-bz:#f68a31;
  --bg-bv:#181f34;
}

@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");
.bodyCard {
  font-family: Roboto, sans-serif;
  margin: 0;
  height: 100vh;
display: flex;

  background-image: linear-gradient(to top, #96fbc4 0%, #f9f586 100%);
}

#cardStyle{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
.card1 {
  background: #fff;
  border-radius: 4px;
  box-shadow: 0px 14px 80px rgba(92, 93, 121, 0.904);
  max-width: 440px;
  display: flex;
  text-align: center;
  flex-direction: row;
  border-radius: 25px;
  position: relative;
  margin-bottom: 2rem;
  height: 15rem;
  background-color: var(--bg-bv);
 
}

.card1 h2 {
  margin: 0;
  padding: 0 1rem;
}

.card1 .title {
 
  text-align: right;
  color: rgb(144, 248, 144);
  font-weight: bold;
  font-size: 12px;
 padding-right: 1.5rem;
 padding-top: -4rem;
 padding-bottom: 1rem;
}

.card1 .desc {
  padding: 0.5rem 1rem;
  font-size: 12px;
  color: white;
}

.card1 .actions {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding: 0.5rem 1rem;
}

.card-logo {
  width: 85px;
  height: 85px;
  margin: 0 auto;
}

.img-avatar {
  width: 90px;
  height: 90px;
  position: absolute;
  border-radius: 50%;
  border: 6px solid rgb(255, 255, 255);
  /*background-image: linear-gradient(-60deg, #16a085 0%, #f4d03f 100%);*/
  top: 10px;
margin-left: 8rem;
}

.card-text {
  display: grid;
  grid-template-columns: 1fr 2fr;
  color: white;
}

.title-total {
  padding: 2.5em 1.5em 1.5em 1.5em;
  color: white;
}

path {
  fill: white;
}

.img-portada {
  width: 100%;
}

.portada {
  width: 11rem;
  height: 15rem;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  /* background-image: url("https://m.media-amazon.com/images/S/aplus-media/vc/cab6b08a-dd8f-4534-b845-e33489e91240._CR75,0,300,300_PT0_SX300__.jpg");*/
 
}

button {
  border: none;
  background: none;
  font-size: 24px;
  color: #8bc34a;
  cursor: pointer;
  transition: 0.5s;
}
/* button:hover {
  color: #4CAF50;
  transform: rotate(22deg);
} */
.iconUpdate{
  margin-top: -2rem;
}

#card-artisan{

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color:  var(--bg-bv);
}