@media only screen and (min-width: 1082px) { 
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

:root{
    --fnt:'Audiowide', cursive;
    --allFont:Arial, Helvetica, sans-serif;
    /* --color-on:#f36600; */
    --color-on:#fcb931;
    /* --color-yell:#fcb931; */
}
.bg-homme{
    background-image: url("https://demo.astemplates.com/joomla-templates/002039/templates/as002039/images/bg.general.png");
color: white;
  }


/* .navbar-light{
    
 background-color: transparent !important;
    padding-left: 11% !important;
    padding-right: 10% !important;
    margin-bottom: 5rem !important;
    margin-top: 9.4rem;
    color: white;
  } */
  .btn:not(:disabled):not(.disabled) {
    cursor: pointer;
    border: none;
    color: var(--clr-primary-light) !important;
    border-bottom: solid 1px var(--clr-primary-light);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-top: -3px;
  }
  .form-control {
    margin-left: 20px !important;
    margin-top: -3px !important;
    width: 100%;
    border-radius: 0 !important;
    font-size: .95rem !important;
    color: var(--clr-primary-light) !important;
    background: none !important;
    border:none !important;
    border-bottom: 1px solid var(--clr-primary-light) !important;
  }
  .heart{
    margin-top: 10px;
    margin-left: 20px;
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--clr-primary-light);
    cursor: pointer;
  }
  .favorite--value{
    background-color: var(--clr-secondary-redish);
    padding: 1px 6px !important;
    border-radius: 50% ;
    font-size: .5em;
    position: absolute;
    top: 12px !important;
    right: 9%;
    z-index: 1;
    font-weight: bold;
    color: var(--clr-primary-light) !important;
  }
  .ninja-icon{
    position: absolute;
    top: 15px !important;
    right: 7%;
  }
  .heart:hover, .linked--brand:hover,
  .linked--page:hover{
    text-decoration: none;
    
  }
 .linked--brand{
    text-decoration: none;
    color: var(  --color-on) !important;
    font-size: 1rem;
    cursor: pointer;
    font-family: var( --fnt);
    padding-right: 20%;
  }
  .linked--page{
    color: var(--clr-primary-light) !important;
    font-size: 1.06rem;
    text-decoration: none;
    margin: 10px 20px 10px 0 !important;
    cursor: pointer;
    
  }
  
  .part2-nav{
     text-align: center;
  }

  .part2-nav-hover:hover{
    border-radius: 0;
    border-bottom: 3px solid var( --color-on);
   
    line-height: 20px;
    list-style: outside none none;
    
 
  
  }
  
  .part3-nav{
    padding-left: 5rem;
    padding-right: 2rem;
    display: flex;
    justify-content: space-around;
  }
  .far{
      color: white !important;
  }

  .far:hover{
    color: var(--color-on) !important;
}


  .img-1-home{
      height: 50rem;
 
      z-index: -1;
   
      
  }

  .top-navb{
    background: url('https://images.pexels.com/photos/952670/pexels-photo-952670.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
   
   
  }
  /* .titre-1-home{
     background-image:linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75))  
background-image:linear-gradient(rgba(0, 0, 0, 0.774), rgba(0, 0, 0, 0.767)), url("https://www.brumpost.com/wp-content/uploads/2020/02/Tesla-Model-3-Steering-and-digidash.jpg") !important;
background-repeat: no-repeat;
font-size: 4rem;
color: white;
padding-top: 35rem;
    font-family: var( --fnt);
    background-position: top;
    background-size: cover;
height: 48rem;
border: 1px solid #333;
    box-shadow: 1px 1px 1px #000000;
    border-radius: 3px;
    background-attachment: fixed;
  } */


  .logo-top-navbar{
margin-bottom: 2rem;
  margin-top: 4rem;
 
    font-size: 3rem;
    cursor: pointer;
    font-family: var( --fnt);
 color: white;
  }

  .prag-top-navbar{
    color: var( --color-on);
    margin-top: 4rem;
    margin-left: 22%;
  }

  .phone-numbr{
    color: white;
    font-size: 1rem;
    font-family: var(--allFont);
  }
  .petit-titre-numbr{
    color: white;
    font-size: 0.7rem;
    font-family: var(--allFont);
    margin-left: 13rem;
  }

  .navbar-1{
    background-color: transparent !important;
     padding-left: 8% !important; 
    padding-right: 5% !important;
    margin-bottom: 5rem !important;
    margin-top: 9.4rem ;
    color: white !important;
    
 
  }
  .nav-media{
    display: none;
  }
  .navbar-1.colorChange{
     /* background: url('https://demo.astemplates.com/joomla-templates/002039/templates/as002039/images/bg.breadcrumb.png') ;
   #000000 */
    background: url('https://images.pexels.com/photos/952670/pexels-photo-952670.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
    margin-top: 0%;
padding-top: 0% !important;
 padding-left: 8%;
    color: white;
 
  }

  /* .navbar.colorChange  .par-2-scrol{
   margin-left: 25% !important;
 
display: flex;
justify-content: space-around;
  } */
  /* .navbar.colorChange .part3-nav{
    margin-left: 12%;
   } */

   /* .navbar.colorChange .part2-nav-hover{
    margin-left: 3%;
    margin-right: 3%;
  } */


  .active-left-nav {
    position: relative;
  }
  .active-left-nav::after {
      content: "";
      height: 40px;
      width: 5px;
      position: absolute;
      background: var( --color-on);
      left: -7px;
      bottom: 8px;
      border-radius: 40px;
      transform: scaleY(0);
      animation: scale 1.5s ease forwards;

      
      }

      @media screen and(max-width: 590px) {
        
        .active-left-nav{height: 33px;
        left: -8px;
      }
    }
  


  }
.map-respensv{
  display: none;
}
  /*** media  822px*/ 
     @media only screen and (max-width: 1081px){


   
        .top-navb{
          display: none;
        }
   
       .navbar-1{
          display: none;
        }
.nav-media{
  display: block;
  color: white;
  background-color: black;
  width: 100%;
  padding: 5%;
}

.custom-shape-divider-top-1630758667{
  display: none;
}

.img-homme-top{

  display: flex;
  flex-direction: column;
  justify-content: center !important;
}
.custom-shape-divider-bottom-1631056526{
  display: none;
}
.parg-new-part-homme{
  color: black !important;
  display: flex;
  flex-direction: column;
  justify-content: center !important;
  margin-top: 10% !important;
}

.custom-shape-divider-bottom-1630767245 {
  display: none;
}
.custom-shape-divider-top-1630769194{
  display: none;
}
.part2-h{
 display: flex;
 flex-direction: column;
 justify-content: center !important;
}

.bnt-new-part-homme{
  margin-top: -20% !important;
}
.form-map-contact{
  margin-top: 5%;
  display: flex;
 
  background-color: white;
}
iframe{
  width: 100% !important;
  display: flex;
  flex-direction: column;
  justify-content: center !important;
}

#cont-form input{
  width: 70% !important;
}
.widget-title{
  font-size: 1rem !important;
}
.section-en-footer{
  display: none;
}
#nav_menu-2{
 margin-left: 0% !important;
}

/* .mart-1-p-map{
  display: none;
} */
.all-local{
  display: none;
}
.map-respensv{
  display: block;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100% !important;
  margin-top: 5%;
}

.all-top-part-locl{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100% !important;
  margin-left: 0% !important;
  box-shadow: 1px 1px 1px 1px white !important;
}
.mart-r-p-map{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100% !important;
  margin-right: 0% !important;
  
}


.cacodel{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100% !important;
}
.imag-carosel-artisan {
  border-radius: 20px;
  width: 75%;
  height: 75%;
 
}

#all-form-sign-in-admin{
  display: flex;
  flex-direction: column;
  justify-content: center;
}









     }


/*  ************footer 1024************ */
    @media only screen and(max-width:1023){
      #nav_menu-2{
   margin-left: 15px !important;
       }
    }